<%- include("header") -%>



    <div class="box" id="heading">
      <h1> <%=listTitle%> </h1>
    </div>

    <div class="box">
<% newListItems.forEach(function(item){ %>

  <form action="/delete" method="post">
    <div class="item">
      <input name="deleteItem" value="<%= item._id %>" type="checkbox" onChange="this.form.submit()">     <!--Submit btton work is to submit all the information to the post route -->
      <p> <%=item.name %></p>                            <!-- here we have check box so we write onchange to change its functionality to submit type -->
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>">
  </form>

<% }) %>




    <form  action="/" method="post">
      <input  type="text" name="input" placeholder="New Item" autocomplete="off" >
     <button type="submit"  name="button" value="<%=listTitle%>">+</button>
        <!--we have given dynamiv value to button to check the page is home or work  -->


    </form>
    </div>

    <%- include("footer") -%>
